<template>
  <div id="app">
    <b-navbar toggleable="md" variant="dark" type="dark">
      <b-navbar-toggle target="nav_collapse"/>
      <img src="./assets/mevnnav.png" class="img-circle" style="padding: 5px">
        <b-navbar-brand to="/">Tracking Web App</b-navbar-brand>
      <b-collapse id="nav_collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/"><i class="fa fa-home" style="padding: 5px"> Home</i></b-nav-item>
          <b-nav-item data-test="projectsbtn" to="/projects"><i class="fa fa-list" style="padding: 5px"> Projects</i></b-nav-item>
          <b-nav-item to="/teams"><i class="fa fa-users" style="padding: 5px"> Teams</i></b-nav-item>
          <b-nav-item to="/tasks"><i class="fa fa-tasks" style="padding: 5px"> Tasks</i></b-nav-item>
          <b-nav-item to="/users"><i class="fa fa-address-book" style="padding: 5px"> Staff</i></b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item><i class="fa fa-sign-in" style="padding: 5px"> Login </i></b-nav-item>
          <b-nav-item><i class="fa fa-sign-out" style="padding: 5px"> Logout </i></b-nav-item>
          <i class="fa fa-pied-piper-alt fa-1x" style="padding: 5px; color: white;"/>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
    #app {
        font-family: 'Times New Roman','San Francisco','Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        padding-top: 20px;
        background: url("./assets/homerbgyellow.png") no-repeat fixed;
        background-size: 100% 100%;
    }

    .VueTables__sortable {
        cursor: pointer;
    }
</style>
